<span class="track-length pull-right">{{formattedLength}}</span>
<span class="fav-button glyphicon" {{action 'toggleFavorite'}}></span>

{{track.trackNo}}. {{track.album.artist.name}} - {{track.name}} - {{track.album.name}}
